body > header {
    @include clearfix;
    background: $color-main;
    font-weight: 700;
    padding: rhythm(1/4) 0;

    @include susy-media($breakpoint) {
        padding: rhythm(1/2) 0;
    }

    a {
        color: lighten($color-main, 20%);
        text-decoration: none;

        &:hover {
            color: lighten($color-main, 30%);
        }
    }

    nav {
        float: left;

        a {
            margin-right: rhythm(1/2);
        }
    }

    address {
        float: right;
        display: block;
        padding: 0;

        a {
            float: left;
            display: block;
            margin-left: rhythm(1/2);

            svg > path {
                fill: lighten($color-main, 20%);
            }

            &:hover svg > path {
                fill: lighten($color-main, 30%);
            }
        }
    }
}